footer.footer 
	.section_in 
		.footer_main 
			.footer_logo 
				a(href="#")
					img(src="i/footerlogo.png", alt="") 
			.footer_policy 
				a(href="#") Политика Конфиденциальности
				+icon('policy')
			.footer_licence 
				+icon('licence')
				p 2023
			.footer_arkada 
				a(href="#") 
					img(src="i/arkada.png", alt="")
