header.header 
	.section_in 
		.header_main
			.header_logo 
				a(href="#")
					img(src="i/logo.png", alt="")
			.header_menu 
				ul
					each item in ['Услуги', 'Галерея', 'Сертификаты', 'Порядок работы','О нас', 'Контакты']
						li 
							a(href="#" class="orange")=item 
			.burger_trigger.trigger(data-target="menu")
				span
				span
				span